
@import "../scss/functions";
@import "../scss/variables";

$new-primary: #7550FE;
$new-theme-colors:(
    "primary": $new-primary,
);

$theme-colors:map-merge($theme-colors, $new-theme-colors);

// $new-spacers: (
//   5: $spacer * 10,
//   // creiamoci un nuovo valore!
//   6: $spacer * 50,
// );

// $spacers: map-merge($spacers, $new-spacers);
@import "../scss/bootstrap.scss"



